@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --primary-bg: #eff6ff; /* Light blue */
  --secondary-bg: #ffffff; /* White */
  --primary-text: #1e3a8a; /* Navy blue */
  --secondary-text: #3b82f6; /* Bright blue */
  --heading-color: #1d4ed8; /* Medium blue */
  --link-color: #2563eb; /* Slightly darker medium blue */
  /* --link-hover-color: #93c5fd; Lighter blue for hover #5b3128 */
  --gray-background: #5b3128;
}
html {
  overflow-x: hidden;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
[data-aos] {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

a,
li {
  color: var(--link-color);
}

/* a:hover,
li:hover {
  color: var(--link-hover-color);
} */

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}

.animate-slide1 {
  background-image: url("/images/hero-bg1.jpg"); /* Replace with your images */
  animation: fade 9s infinite;
  animation-delay: 0s;
}

.animate-slide2 {
  background-image: url("/images/hero-bg2.jpg");
  animation: fade 9s infinite;
  animation-delay: 3s;
}

.animate-slide3 {
  background-image: url("/images/hero-bg3.jpg");
  animation: fade 9s infinite;
  animation-delay: 6s;
}

/* styles/globals.css */
.font-lora {
  font-family: "Lora", serif;
}

.animated-image {
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out; /* Smooth hover effect */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Optional shadow */
}

.animated-image:hover {
  transform: scale(1.05); /* Apply scale on hover */
  box-shadow: none;
}

.gray-bg {
  background-color: var(--gray-background);
  color: white;
}

.bg-base {
  background: rgb(72, 50, 119);
}
.bg-chase {
  background: rgb(89 63 146);
}
.bg-mesh {
  background: rgb(58, 41, 94);
}
.bt-border {
  border-color: rgb(49, 34, 81);
}
