@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */
:root {
  --primary-bg: #fff5f7; /* Light pink */
  --secondary-bg: #ffffff; /* White */
  --primary-text: #1f2937; /* Dark gray */
  --secondary-text: #4b5563; /* Muted gray */
  --heading-color: #831843; /* Deep pink */
  --link-color: #db2777; /* Medium pink */
  --link-hover-color: #be185d; /* Darker pink */
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

a,
li {
  color: var(--link-color);
}

a:hover,
li:hover {
  color: var(--link-hover-color);
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
}

.animate-slide1 {
  background-image: url("/images/hero-bg1.jpg"); /* Replace with your images */
  animation: fade 9s infinite;
  animation-delay: 0s;
}

.animate-slide2 {
  background-image: url("/images/hero-bg2.jpg");
  animation: fade 9s infinite;
  animation-delay: 3s;
}

.animate-slide3 {
  background-image: url("/images/hero-bg3.jpg");
  animation: fade 9s infinite;
  animation-delay: 6s;
}

/* styles/globals.css */
.font-lora {
  font-family: "Lora", serif;
}
